body {
    margin: 0;
    background-color: #714d80;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
}

#game-container {
    position: relative;
    border: 2px solid #dd13dd;
}

canvas {
    display: block;
    background: #050505;
    max-width: 100vw;
    max-height: 70vh;
}

#ui-overlay {
    position: absolute;
    top: 10px; left: 10px; right: 10px;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

#energy-container {
    width: 100px; height: 10px;
    border: 1px solid #00f2ff;
    background: rgba(0,0,0,0.5);
}

#energy-bar {
    height: 100%;
    background: #00f2ff;
    width: 100%;
}

#mobile-controls {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 500px;
    margin-top: 20px;
}

.movement-btns { display: flex; gap: 15px; }

#mobile-controls button {
    width: 70px; height: 70px;
    border-radius: 50%;
    background: rgba(221, 19, 221, 0.3);
    border: 2px solid #dd13dd;
    color: white;
    font-size: 1.8rem;
}

#play-again-btn {
    display: none;
    position: fixed;
    top: 60%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    background: #dd13dd;
    color: white;
    border: none;
    font-weight: bold;
    z-index: 100;
}

@media (pointer: fine) { #mobile-controls { display: none; } }

/* Ajustes para modo horizontal en móviles */
@media screen and (max-height: 500px) and (orientation: landscape) {
    #game-container {
        display: flex;
        align-items: center;
    }

    canvas {
        max-height: 80vh; /* El canvas ocupa más espacio vertical */
        width: auto;
    }

    #mobile-controls {
        position: fixed;
        bottom: 10px;
        width: 95%;
        max-width: none;
        margin-top: 0;
        justify-content: space-between;
    }

    #mobile-controls button {
        width: 85px;  /* Botones más pequeños para que no tapen vidas */
        height: 85px;
        font-size: 1.2rem;
    }

    #ui-overlay {
        font-size: 12px; /* Letra más pequeña para que no se corte */
        top: 5px;
    }
}